@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  
}
* {
    scroll-behavior: smooth;
}

.blbg {
  @apply backdrop-blur-lg bg-white/90 dark:bg-gray-900/90 dark:border-1 dark:border-gray-700 dark:text-white text-black shadow-sm
}

.background-colors {
  @apply bg-gradient-to-br from-slate-100 to-slate-200 dark:from-slate-900 dark:to-slate-800 ease-in-out dark:text-white
}
